.formRow {
    input {
        display: block;
        width: 100%;
        text-align: left;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1;
        padding: 10px 5px;
        border: 1px solid black;
        margin: 10px auto;
        outline: none;
    }
}